{% extends 'listings/base.html' %}
{% block content %}
    <body>
        <h1>Ajouter un nouveau service</h1>
        <form method="post" enctype="multipart/form-data" action="{% url 'AddService' %}">
            {% csrf_token %}
            <label for="id">ID :</label>
            <input type="text" id="id" name="id"><br>
    
            <label for="description">Sequence :</label>
            <input type="text" id="description" name="sequence"><br>
    
            <label for="prix">Prix :</label>
            <input type="number" id="prix" name="prix"><br>
    
            <label for="picture">Image :</label>
            <input type="file" id="picture" name="picture"><br>
    
            <input type="submit" value="Ajouter">
        </form>
    
    </body>


{% endblock %}