{% extends 'listings/base.html' %}

{% block content %}

  <h1>Formulaire de devis</h1>

  <form method="post">
    {% csrf_token %}
    <!--{{ form.as_p }} -->
    <div class="form-group">
      <label for="{{ form.service.id_for_label }}">Service :</label>
      {{ form.service }}
    </div>
    <div class="form-group">
        <label for="{{ form.Last_name.id_for_label }}">Nom de famille :</label>
        {{ form.Last_name }}
        {{ form.Last_name.errors }}
    </div>
    <div class="form-group">
        <label for="{{ form.First_name.id_for_label }}">Prénom :</label>
        {{ form.First_name }}
        {{ form.First_name.errors }}
    </div>
    <div class="form-group">
        <label for="{{ form.adresse.id_for_label }}">Adresse :</label>
        {{ form.adresse }}
        {{ form.adresse.errors }}
    </div>
    <div class="form-group">
        <label for="{{ form.ville.id_for_label }}">Ville :</label>
        {{ form.ville }}
        {{ form.ville.errors }}
    </div>
    <div class="form-group">
        <label for="{{ form.code_postal.id_for_label }}">Code postal :</label>
        {{ form.code_postal }}
        {{ form.code_postal.errors }}
    </div>
    <div class="form-group">
        <label for="{{ form.pays.id_for_label }}">Pays :</label>
        {{ form.pays }}
        {{ form.pays.errors }}
    <div class="form-group">
        <label for="{{ form.tel.id_for_label }}">Téléphone :</label>
        {{ form.tel }}
        {{ form.tel.errors }}
    </div>

    <button type="submit">Envoyer</button>
</form>
  
  <!--
    <form method="post" action="{% url 'devis' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" action="{% url 'confirmation %'}">Envoyer</button>
  </form>
-->
{% endblock %}